/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 100px;
  padding-bottom: 20px;
}

/* Modifications to the Nav bar */
.navbar {
	box-shadow: 0 1px 5px rgba(0,0,0,.3);
	border-bottom: 0;
	min-height: 80px;
}
.navbar-brand {
	height: 80px;
	padding: 40px 30px;
}
.navbar-inverse {
	background-color: #009688;
	border-color: #080808;

}
.navbar-inverse .navbar-brand {
	color: #FFF;
	font-family: 'Roboto', sans-serif;
	font-size: 32px;
	font-weight: 700;
	letter-spacing: -1px;
}

/* Creating Material Box look */
.material-box {
	background-color: #FFFFFF;
	padding-top: 20px;
	padding-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
	-webkit-box-shadow: 0 2px 5px 1px rgba(0,0,0,0.1);
	box-shadow: 0 2px 5px 1px rgba(0,0,0,0.1);
	margin-bottom: 30px;
	-webkit-appearance: none;
	border-radius: 2px;
}

/* Make a gap between columns */
.container [class^="col-"] .material-box {
    padding: 10px;
}

/* Generic changes to make it fit material design-lite */
h1, h2, h3, h4, h5 { font-family: 'Roboto', sans-serif; font-weight: 400; }
h2 { font-size: 19px;}
p, li, ul, a { font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 13px; }
body { background-color: #ececec}


/* Menu icons to take up new top nav bar size of 80px */
.navbar-inverse .navbar-nav>li>a {
	color: #D5D5D5;
}

.navbar-inverse .navbar-nav>.active>a {
	border-radius: 10px 10px 0 0;
	color: #fff;
	background-color: #323A45;
}

.nav>li>a {
	padding: 10px 25px;
	font-size: 15px;
	font-weight: 700;
	letter-spacing: 1px
}

@media (min-width: 768px) {
	.navbar-nav>li>a {
		margin-top: 20px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
}