/* Move down content because we have a fixed navbar that is 50px tall */
html {
  height:100%;
  margin:0;
}

body {
  height:100%;
  margin:0;
}

.container {
	height:100%;
}

.welcome {
	background: url('../img/welcome.jpg') no-repeat center center;
	background-size: cover;
}

.melbparking {
	background: url('../img/MelbParking.jpg') no-repeat center center fixed;
	background-size: cover;
}

.pfi {
	background: url('../img/PFI.png') no-repeat top left ;
	background-size: cover;
}
